*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
   background-image: url(../IMAGENES/fondo2.jpg);
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
}


.principal{
    width: 400px;
    background: #24303c;
    opacity: .95;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}


.principal h4{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center
}

.principal h5{
    font-size: 20px;
    margin-bottom: 20px;
}

.text{
    width: 100%;
    background: #24303c;  
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    color: black;
    font-size: 18px;
    color: white;
    padding-left: 20px;;
}

.textarea{
  background: #24303c; 
  border: 1px solid #1f53c5;;
  border-radius:4px;
  padding: 10px;
  margin-bottom: 16px
  font-family: "calibri";
  color: black;
  font-size: 18px;
  color: white;
  padding-left: 20px;
  width: 100%;
  height: 150px;
}


.principal .form-group::before{
  font-family: 'Font Awesome\ 5 Free';  
  font-size: 32px;
  position: absolute;
  padding-left: 15px;
}


.principal p{
    margin-top: 30px;
    height: 60px;
    text-align: center;
    font-size: 18px;
   
}


.principal .btn {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

a{
    text-align: center;
    color: white; 
    text-decoration: none; 
    font-size: 18px;

}
a:hover{
    color:white;
    text-decoration: underline;
}


.container{
  max-width: 1024px;
  margin: 0 auto;
}

@media all and (min-width: 768px){
  .flex{
      display:flex;
      justify-content:space-between;
   }
}

.logo{
  background: #44b5ed;;
  padding: 2rem;
  font-family: "calibri";
  color: black;
  font-size: 18px;
  color: white;
}

header{
  background: #44b5ed;;
}

.menu ul{
    margin-top: 13px;
    padding-inline-start: 0;
    font-family: "calibri";
    color: black;
    font-size: 18px;
    color: white;  
  }

.select-menu{
  width:100%;
  padding:.5rem;
  font-family: "calibri";
  color: black;
  font-size: 18px;
  color: black;
}

.menu{
  display:none;
}

@media all and (min-width: 768px){
    .menu{
        display:block;
    }
    .select-menu{
      display:none;
  }
}

@media all and (min-width: 768px){
    .menu ul{
       display:flex;
       justify-content:space-between;
       align-items:center; 
       font-family: "calibri";
       color: black;
       font-size: 18px;
       color: white;
    }
}

.menu ul li{
  display: block;
  padding:1rem;
  background: #44b5ed;
  margin-bottom: .5rem;
  font-family: "calibri";
  color: black;
  font-size: 18px;
  color: white;  
}

@media all and (min-width: 768px){
  .menu ul li{
    margin-bottom: 0;
    font-family: "calibri";
    color: black;
    font-size: 18px;
    color: white;
  
  }
}


