*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
   background-image: url(../IMAGENES/fondo.jpg);
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
}


.register{
    width: 400px;
    background: #24303c;
    opacity: .95;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}
/* .register .user-img{
    margin-top: -70px;
    margin-bottom: 5px;
    margin-right: 800px;
}

.register .user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
    
} */

.register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.text{
    width: 100%;
    background: #24303c;  
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    color: black;
    font-size: 18px;
    color: white;
    padding-left: 54px;;

}
.register .form-group::before{
  font-family: 'Font Awesome\ 5 Free';  
  font-size: 32px;
  position: absolute;
  padding-left: 15px;
}

.register .form-group#user-group::before{
 content: "\f007";
}

.register .form-group#email-group::before{
    content: "\f2b6";
  }

.register .form-group#contrasena-group::before{
  content: "\f023";
}

.register p{
    margin-top: 30px;
    height: 60px;
    text-align: center;
    font-size: 18px;
   
}

.register a{
    text-align: center;
    color: white;
    text-decoration: none; 
    font-size: 18px;

}

.register a:hover{
    color:white;
    text-decoration: underline;
}

.register .btn {
    width: 100%;
    font-size: 16px;
    text-align: center;
}



